:root {
    font-size: 16px;
    --h1: 2.986rem;
    --h2: 2.488rem;
    --h3: 2.074rem;	
    --h4: 1.728rem;
    --h5: 1.44rem;
    --h6: 1.2rem;

    --header-style: "lexend";
    --paragraph-style: "Mulish";
    --logo-style: "fredoka";

    --flush-orange: #FF7A00;
    --seashell: #FEFBF9;
    --gray5: #0E0D0D;
    --button-blue: #0EBCF3;
    --arathi-highlands: #8DA742;

    background-color: var(--seashell);
    scroll-behavior: smooth;

}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem auto;
    width: 90vw;
    height: 3rem;
    background-color: var(--seashell);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: var(--header-style);
    font-size: var(--h3);
    color: var(--gray5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-style);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-family: var(--paragraph-style);
}

.home {
    display: flex;
    flex-direction: column;
}

.main {
    margin: 0 5rem
}

/* Raw Colour */
.gray5 {
    background-color: var(--gray5);
}

.flushOrange {
    background-color: var(--flush-orange);
}

.seashell {
    background-color: var(--seashell);
}

.buttonBlue {
    background-color: var(--button-blue);
}

.arathiHighlands {
    background-color: var(--arathi-highlands);
}

/* Filter + Objects */

.borderFilter {
    filter: drop-shadow(0 0 0.2rem var(--gray5));
}

.lineBreak {
    width: 60vw;
    height: 1rem;
    background-color: var(--arathi-highlands);
    border-radius: 8px;
    margin: 1rem 0;
}

.lineBreakHalf {
    width: 60vw;
    height: 0.5rem;
    background-color: var(--arathi-highlands);
    border-radius: 8px;
    margin: 1rem 0;
}

.buttonShadow {
    filter: drop-shadow();
    box-shadow: 0 0.5rem var(--gray5);
}

.buttonPressed {
    filter: drop-shadow();
    box-shadow: inset 0 0.5rem 1px var(--gray5);
}

/* Logo section + above*/
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.logoHeaderGreen {
    color: var(--arathi-highlands);
}

.logoHeader {
    font-family: var(--logo-style);
    font-size: 5rem;
    margin: auto;
}

.logoHeaderWordmark {
    font-family: var(--logo-style);
    font-size: 5rem;
    margin: auto 0 auto 3rem;
    justify-content: center;
}

.logoMarginWord{
    width: 50rem;
}
.logoMarginLogo{
    width:26.5rem;
    margin-left: 5rem;
}

.logoSubHead {
    font-size: var(--h1);
    font-family: var(--header-style);
}

.logoSubSubHead{
    font-size: var(--h4);
    font-family: var(--header-style);
}
/* 
.logoContent{
    height: 130vh;
} */

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem;
}

.logoMain {
    width: 10rem
}

.logoVariationContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem;
    width: 90vw;
}

.logoVariation {
    margin: 3rem;
    height: 10rem
}

.logoVariationWidth {
    height: 10rem;
    margin: auto;
}

.logoVarBgGreen {
    background-color: var(--arathi-highlands);
    padding: 1rem;
    border-radius: 8px;
}

.favContainer{
    display: flex;
    align-items: flex-end;
    width: 20vw;
    justify-content: space-between;
}

.logofav{
    font-family: var(--paragraph-style);
    font-size: var(--h6);
}


/* Colour */
.colour{
    margin-top: 10rem;
}
.colourShapeMain {
    width: 16rem;
    height: 8rem;
    border-radius: 8px;
    margin: 3rem 0 0 0;
}

.colourShapeSub {
    width: 6rem;
    height: 3rem;
    border-radius: 8px;
    margin: auto 1rem 1rem 1rem;
    z-index: 5;
}

.colourContainShapeDesc {
    margin: 1rem;
}

.colourContainer {
    display: flex;
    flex-wrap: wrap;
}

.colourSubContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.colourName {
    margin: 1rem 0 0 0;
    font-size: var(--h2);
    font-family: var(--header-style);
    color: var(--arathi-highlands);
}

.contrastProof {
    border-radius: 8px;
    height: 20rem;
    margin: 1rem;
}

.description {
    width: 30rem;
}

.componentExamples {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 3rem 0 0 0;
}

.button {
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 8px;
    width: 20rem;
    font-family: var(--header-style);
    font-size: var(--h1);
    margin: 1rem;
}


.textExample {
    width: 10rem;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
}

/* Typography */
.typography{
    margin-top: 10rem;
}
.typographyParagraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.typographyHeadings {
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 1rem;
    margin: 3rem 0 0 0;
}

.typographyHeadings h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem 0;
}

.typographyHeadings h1 {
    font-size: var(--h1);
}

.headingAlignment {
    text-align: left;
}

.boldText {
    font-weight:1000;
}

.italicText {
    font-style: italic;
}

.linkText {
    text-decoration: underline;
    font-size: 1rem;
    font-family: var(--paragraph-style);
}

/* Graphics and Icons */
.grapics{
    margin-top: 10rem;
}
.imageSizing {
    width: 10rem;
}

.gridDescription {
    margin: 0 0 0 1rem;
    width: 30rem;
}

.gridDescription ul li {
    font-family: var(--paragraph-style);
}

.icononographyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.iconIndividualContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin: 3rem;
}

/* Layout Sample */

.layoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sampleLayout {
    width: 15rem;
}

.sampleLayoutDescription {
    margin: 0 0 0 3rem;
}