:root {
    font-size: 16px;
    --h1: 1.9rem;
    --h2: 1.7rem;
    --h3: 1.5rem;
    --h4: 1.4rem;
    --h5: 1.2rem;
    --h6: 1rem;

    --header-style: "lexend";
    --paragraph-style: "Mulish";
    --logo-style: "fredoka";

    --flush-orange: #FF7A00;
    --seashell: #FEFBF9;
    --gray5: #0E0D0D;
    --button-blue: #258FF1;
    --arathi-highlands: #8DA742;

    background-color: var(--seashell);
    scroll-behavior: smooth;

}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem auto;
    width: 90vw;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: var(--header-style);
    font-size: var(--h1);
    color: var(--gray5);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-style);
}

h1 {
    font-size: 3rem;
    margin: 8rem 0 0 0;
}

h2 {
    font-size: var(--h2);
}

h2 {
    font-size: var(--h3);
}

p {
    font-family: var(--paragraph-style);
}

.home {
    display: flex;
    flex-direction: column;
}

.main {
    margin: 0 5rem
}

/* Raw Colour */
.gray5 {
    background-color: var(--gray5);
}

.flushOrange {
    background-color: var(--flush-orange);
}

.seashell {
    background-color: var(--seashell);
}

.buttonBlue {
    background-color: var(--button-blue);
}

.arathiHighlands {
    background-color: var(--arathi-highlands);
}

/* Filter + Objects */

.borderFilter {
    filter: drop-shadow(0 0 0.2rem var(--gray5));
}

.lineBreak {
    width: 60vw;
    height: 1rem;
    background-color: var(--arathi-highlands);
    border-radius: 8px;
    margin: 1rem 0;
}

/* Logo section + above*/
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logoHeaderGreen {
    color: var(--arathi-highlands);
}

.logoHeader {
    font-family: var(--logo-style);
    font-size: 5rem;
    margin: auto;
}

.logoHeaderWordmark {
    font-family: var(--logo-style);
    font-size: 5rem;
    margin: auto 0 auto 3rem;
}

.logoSubHead {
    font-size: var(--h1);
    font-family: var(--header-style);
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem;
}

.logoVariationContainer {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.logoVariation {
    width: 15rem
}


/* Colour */
.colourShapeMain {
    width: 16rem;
    height: 8rem;
    border-radius: 8px;
    margin: 3rem 0 0 0;
}

.colourShapeSub {
    width: 6rem;
    height: 3rem;
    border-radius: 8px;
    margin: auto 1rem 1rem 1rem;
    z-index: 5;
}

.colourContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.colourSubContainer {
    display: flex;
    width: 100%;
    height: 100%
}

.colourName {
    margin: 1rem 0 0 0;
    font-size: var(--h2);
    font-family: var(--header-style);
    color: var(--arathi-highlands);
}

.description {
    width: 30rem;
}

/* Typography */

.typographyHeadings h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 0 0;
}

.typographyHeadings h1 {
    font-size: var(--h1);
}